
{% load static %}
<div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="">
                                <img src="{% static 'assets/img/logo-both.png' %}" alt="CoolAdmin">
                               
                            </a>
                            <p class="login-box-msg alert alert-success">Successfully Password has been reset. </p>

                        </div>
                        <div class="login-form">
                           <a href="/" class="btn btn-primary">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<style>
    body {
margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../iStock.jpg');
  background-size: cover;
}
.login-form{
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    text-align: center;
}
.container {
    }

    .login-wrap {
    }

    .login-content {
    background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      overflow: hidden;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .login-logo {
      text-align: center;
      padding: 20px;

    }
    .navbar-brand{
      text-align: center;
      color: #4705fc;
      display: block;
      font-size: 30px;
      font-weight: bold;
    }

    .form-group {
      padding: 20px;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;
      margin-bottom: 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }

    button:hover {
      background-color: #2980b9;
    }


</style>